/* Structure */

.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell {
  font-weight: 800;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

mat-row:nth-child(odd) {
  background-color: #F6F6F6;
}

mat-row:hover {
  background-color: #dee2e6
}

mat-cell {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.delete {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  color: #e74c3c
}

.buttons {
  margin: 15px
}

.homebtn {
  margin-right: 8px;
}

.savebtn {
  margin-right: 3px
}
