<form>
  <div class="form-border">
    <div class="row form">
      <div class="col-md-6">
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Name</span>
            </div>
            <input type="text" class="form-control col-lg-8">
          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Date Of Birth</span>
            </div>
            <input type="text" placeholder="Datepicker" class="form-control col-lg-7" bsDatepicker>
          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Salary</span>
            </div>
            <input type="number" min="0" class="form-control col-lg-8">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Benefits</legend>
          <div class="control-group">
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkboxphone" checked="checked">
              <label class="form-check-label" for="checkboxphone">Phone Allowance</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkboxcar">
              <label class="form-check-label" for="checkboxcar">Car Allowance</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkboxmeal">
              <label class="form-check-label" for="checkboxmeal">Meal Allowance</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkboxmonth">
              <label class="form-check-label" for="checkboxmonth">17 Months</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkboxtickets">
              <label class="form-check-label" for="checkboxtickets">4 Two-ways Tickets</label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row float-right buttons">
    <button class="btn btn-info homebtn" routerLink="/">Home</button>
    <button class="btn btn-success savebtn" type="submit">Save</button>
  </div>
</form>
