fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.50em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #595959;
  box-shadow: 0px 0px 0px 0px #595959;
}

legend.scheduler-border {
  text-align: left !important;
  width: auto;
  padding: 0;
  border-bottom: none;
}

.form-border {
  border: .3px #e9ecef solid;
}

.form {
  padding: 10px
}

.buttons {
  padding: 10px
}

.homebtn {
  margin-right: 8px
}

.savebtn {
  margin-right: 3px
}

.info {
  margin-top: 20px
}

.error {
  margin-left:15px;
  color:#e74c3c;
  font-style: italic
}