<div class="jumbotron">
  <h1 class="display-5">Benchmark & Improve</h1>
  <p class="lead">The task assignment is about a simple web application to manage employees’ basic information and their benefits and allowances in the company.</p>
  <hr class="my-4">
  <p>This is a task assignment for the applicants who are interested to work at B&I as Software Engineers.</p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Employee</h5>
        <p class="card-text">Allows the user to add an employee with his selected benefits.</p>
        <a routerLink="/employees/add" class="btn btn-info">Add Employee</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">List Employees</h5>
        <p class="card-text">Allows the user to list all employees registered in the database</p>
        <a routerLink="/employees"  class="btn btn-info">List Employees</a>
      </div>
    </div>
  </div>
</div>